# Supabase Configuration
VITE_SUPABASE_URL=Yhttps://qxtrzxoxgzexfmcyjwji.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4dHJ6eG94Z3pleGZtY3lqd2ppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4MTc2NzgsImV4cCI6MjA4NTM5MzY3OH0.Tn22XWObE_qN-pUzXaQgBz6o4qq8KkEbJhC008237cA
